.add-dday-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 85%;
}

.title-input,
.category-select-option,
.date-input,
.add-submit-button {
  height: 50px;
  border-radius: 10px;
  outline: none;
  padding: 0 20px;
  font-size: 15px;
  border: none;
}

.add-submit-button > p {
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.add-submit-button {
  transform: translateY(0);
  transition: all 0.3s ease;
}

.add-submit-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 8px #00000039;
}
