html,
body {
  height: auto;
  display: flex;
  align-items: start;
  background-color: #fff;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  font-style: normal;
}

h1,
p {
  margin: 0;
}

.app-name {
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 60px;
  row-gap: 40px;
  position: relative;
}

.logout {
  position: absolute;
  top: -20;
  right: -20;
}

.category-select-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 35px;
  column-gap: 25px;
  border-radius: 25px;
  background-color: #f4f4f4;
  border: 1px solid #e9e9e9;
  box-shadow: 0 8px 15px #00000036;
}
